dash
dash-core-components
dash-bootstrap-components
dash-html-components
flask-cors
redis
plotly
yfinance 
flask
gunicorn
numpy
pandas
matplotlib
scipy
git+https://github.com/rongardF/tvdatafeed.git

